@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", sans-serif;
  font-style: normal;

  --blackBlueGradientBuyCrypto: radial-gradient(123.14% 44.41% at 77.00% 45.58%, rgba(17, 153, 250, 0.20) 0%, rgba(17, 153, 250, 0.00) 100%),
    radial-gradient(172.02% 136.06% at 4.78% 96.68%, rgba(1, 1, 24, 0.40) 0%, rgba(1, 1, 24, 0.00) 100%),
    #002F61;

  --blackBlueGradientPriceAlerts: radial-gradient(175.99% 129.34% at -0.00% 100.00%, rgba(1, 1, 24, 0.40) 0%, rgba(1, 1, 24, 0.00) 100%),
    var(rgba(17, 153, 250, 0.20), #002F61);

  --blackBlueGradientRecurringBuy: radial-gradient(276.49% 100% at 50.11% 100.00%, rgba(17, 153, 250, 0.40) 0%, rgba(17, 153, 250, 0.00) 100%),
    linear-gradient(0deg, rgba(1, 1, 24, 0.40) 0%, rgba(1, 1, 24, 0.40) 100%),
    #002F61;

  --blackBlueGradientOnChainStaking: radial-gradient(172.02% 136.06% at 4.78% 96.68%, rgba(1, 1, 24, 0.4) 0%, rgba(1, 1, 24, 0) 100%),
    radial-gradient(84.57% 52.26% at 78.22% 43.54%, rgba(17, 153, 250, 0.4) 0%, rgba(17, 153, 250, 0) 100%),
    rgb(0, 47, 97);
}